<!DOCTYPE html>
<html lang="en" ng-app="chartsApp">
<head>
    <!--<meta charset="utf-8">-->
    <!-- Bootstrap core CSS -->
    <link href="./lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="./lib/angular-busy-master/dist/angular-busy.css" rel="stylesheet">

    <!-- Application's CSS -->
    <link rel="stylesheet" href="css/style.css"/>
    <title>Hackathon web-client</title>


</head>
<body>

<div class="container" ng-controller="chartsListController">

    <header data-ng-include="'./views/header.html'"></header>

    <div class="row">

        <div class="col-md-2">

            <input ng-model="searchText" placeholder="Search..." class="searchBox"/>
            <button class="searchButton btn-xs" ng-click="clearSearchBox()">X</i></button>

            <div class="list-group chartsList">
                <a ng-click="selectChart(chart)" href="#" ng-repeat="chart in charts | filter:searchText"
                   class="list-group-item repeat-item" ng-class="isChartSelected(chart) ? 'selected' : ''">{{chart}}</a>
            </div>
        </div>

        <div cg-busy="'chartTracker'">
            <div class="col-md-10 jumbotron" ng-controller="chartController">
                <div ac-chart="chartType" ac-data="data" ac-config="config" id='chart'></div>
            </div>
        </div>

    </div>

</div>

<!-- Do Not change Order! -->

<!-- JQuery -->
<script src='./lib/jquery/jquery.min.js'></script>

<!-- AngularJS -->
<script src='./lib/angular/angular.min.js'></script>

<!-- angular-charts -->
<script src='./lib/d3/d3.min.js'></script>
<script src='./lib/angular-charts/dist/angular-charts.js'></script>

<script src="./lib/angular-route/angular-route.min.js"></script>
<script src="./lib/angular-animate/angular-animate.js"></script>
<script src="./lib/angular-promise-tracker/promise-tracker.js"></script>
<script src="./lib/angular-busy-master/dist/angular-busy.js"></script>

<script src="./js/app.js"></script>
<script src="./js/controllers/chartsListController.js"></script>
<script src="./js/controllers/chartController.js"></script>

<script src="./js/services/chartsService.js"></script>
</body>
</html>