<!DOCTYPE html>
<html lang="en" ng-app="chartsApp">
<head>
    <!--<meta charset="utf-8">-->
    <!-- Bootstrap core CSS -->
    <link href="./lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Application's CSS -->
    <link rel="stylesheet" href="css/style.css"/>
    <title>Hackathon web-client</title>


</head>
<body>

<div class="container" ng-controller="chartsListController">

    <header data-ng-include="'./views/header.html'"></header>

    <div class="row">

        <div class="col-md-2">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" ng-model="shouldSelectAll" ng-click="selectAll($event)"></th>
                    <th>Charts</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <input ng-model="searchText" placeholder="Search..." class="searchBox"/>
                    <button class="searchButton btn-xs" ng-click="clearSearchBox()"><i class="glyphicon glyphicon-remove"></i></button>
                </tr>
                <tr class="repeat-item" ng-repeat="chart in charts | filter:{name:searchText}" ng-class="(chart.selected) ? 'selected' : ''">
                    <td>
                        <input type="checkbox" ng-model="chart.selected">
                    </td>
                    <td ng-click="tableRowClicked(chart)">{{chart.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-10 jumbotron" ng-controller="chartController">
            <div ac-chart="chartType" ac-data="data" ac-config="config" id='chart'></div>
        </div>

    </div>

</div>

<!-- Do Not change Order! -->

<!-- JQuery -->
<script src='./lib/jquery/jquery.min.js'></script>

<!-- AngularJS -->
<script src='./lib/angular/angular.min.js'></script>

<!-- angular-charts -->
<script src='./lib/d3/d3.min.js'></script>
<script src='./lib/angular-charts/dist/angular-charts.js'></script>

<!--<script src="./lib/angular-route/angular-route.min.js"></script>-->
<script src="./lib/angular-animate/angular-animate.js"></script>

<script src="./js/app.js"></script>
<script src="./js/controllers/chartsListController.js"></script>
<script src="./js/controllers/chartController.js"></script>

<script src="./js/services/chartsService.js"></script>
</body>
</html>