/*a.list-group-item:hover {*/
    /*background-color: rgba(54, 25, 25, .1);*/
/*}*/

/*.table-hover > tbody > tr:hover > td {*/
    /*background-color: rgba(54, 25, 25, .1);*/
/*}*/

.row {
    margin-top: 60px;
}

.selected {
    background-color: #23d0ff;
}

#chart {
    width: 500px;
    height: 400px;
}

.x.axis, .y.axis {
    font-size: 12px;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity: 0;
}

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
    opacity: 1;
}

.searchBox {
    width: 80%;
}

.searchButton {
    margin-left: 5px;
    font-weight: bold;
}

.chartsList {
    margin-top: 10px;
}